@if (loading) {
  <mat-spinner diameter="32" />
} @else {
  <table mat-table [dataSource]="shipments" class="mat-elevation-z1">
    <ng-container matColumnDef="trackingCode">
      <th mat-header-cell *matHeaderCellDef>Tracking Code</th>
      <td mat-cell *matCellDef="let shipment">{{ shipment.trackingCode }}</td>
    </ng-container>

    <ng-container matColumnDef="origin">
      <th mat-header-cell *matHeaderCellDef>Origin</th>
      <td mat-cell *matCellDef="let shipment">{{ shipment.origin }}</td>
    </ng-container>

    <ng-container matColumnDef="destination">
      <th mat-header-cell *matHeaderCellDef>Destination</th>
      <td mat-cell *matCellDef="let shipment">{{ shipment.destination }}</td>
    </ng-container>

    <ng-container matColumnDef="carrier">
      <th mat-header-cell *matHeaderCellDef>Carrier</th>
      <td mat-cell *matCellDef="let shipment">{{ shipment.carrier }}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let shipment">{{ shipment.status }}</td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef>Updated At</th>
      <td mat-cell *matCellDef="let shipment">{{ shipment.updatedAt | date: 'short' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  @if (shipments.length === 0) {
    <p>No shipments yet.</p>
  }
}
