<div class="product-management-page">
  <header>
    <h1>{{ 'product.management.title' | translate }}</h1>
    <button mat-raised-button color="primary" (click)="onOpenCreateForm()">{{ 'product.management.newProduct' | translate }}</button>
  </header>

  @if (error$ | async; as error) {
    <p>{{ ('errors.' + error) | translate }}</p>
  }

  @if (inventoryByProductId$ | async; as inventoryByProductId) {
    <app-product-table
      [products]="(products$ | async) ?? []"
      [inventoryByProductId]="inventoryByProductId"
      [isAdmin]="(isAdmin$ | async) ?? false"
      (editProduct)="onEditProduct($event)"
      (toggleActive)="onToggleActive($event)"
      (adjustStock)="onAdjustStock($event, inventoryByProductId)"
      (deleteProduct)="onDeleteProduct($event)"
    />
  }
</div>
