<h2 mat-dialog-title>{{ 'shipment.updateForm.title' | translate: { code: data.trackingCode } }}</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'shipment.updateForm.statusLabel' | translate }}</mat-label>
      <mat-select formControlName="status">
        @for (option of statusOptions; track option) {
          <mat-option [value]="option">{{ ('shipment.status.' + option) | translate }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'shipment.updateForm.locationLabel' | translate }}</mat-label>
      <input matInput formControlName="location" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'shipment.updateForm.descriptionLabel' | translate }}</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>
  </div>

  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onCancel()">{{ 'common.cancel' | translate }}</button>
    <button mat-raised-button color="primary" type="submit">{{ 'shipment.updateForm.submit' | translate }}</button>
  </div>
</form>
