<h2 mat-dialog-title>{{ 'order.shipForm.title' | translate }}</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'order.shipForm.carrierLabel' | translate }}</mat-label>
      <mat-select formControlName="carrierId">
        @for (carrier of carriers$ | async; track carrier.id) {
          <mat-option [value]="carrier.id">{{ carrier.name }}</mat-option>
        }
      </mat-select>
      @if (form.controls.carrierId.invalid && form.controls.carrierId.touched) {
        <mat-error>{{ 'order.shipForm.carrierError' | translate }}</mat-error>
      }
    </mat-form-field>
  </div>

  <div mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">{{ 'common.cancel' | translate }}</button>
    <button mat-raised-button color="primary" type="submit">{{ 'order.shipForm.submit' | translate }}</button>
  </div>
</form>
