<h2 mat-dialog-title>{{ (isEditMode ? 'product.form.editTitle' : 'product.form.createTitle') | translate }}</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>{{ 'product.form.skuLabel' | translate }}</mat-label>
      <input matInput formControlName="sku" />
      @if (form.controls.sku.invalid && form.controls.sku.touched) {
        <mat-error>{{ 'product.form.skuError' | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'product.form.nameLabel' | translate }}</mat-label>
      <input matInput formControlName="name" />
      @if (form.controls.name.invalid && form.controls.name.touched) {
        <mat-error>{{ 'product.form.nameError' | translate }}</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'product.form.descriptionLabel' | translate }}</mat-label>
      <input matInput formControlName="description" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'product.form.priceLabel' | translate }}</mat-label>
      <input matInput type="text" inputmode="numeric" formControlName="unitPrice" appCurrencyInput />
      @if (form.controls.unitPrice.invalid && form.controls.unitPrice.touched) {
        <mat-error>{{ 'product.form.priceError' | translate }}</mat-error>
      }
    </mat-form-field>

    @if (!isEditMode) {
      <mat-form-field appearance="outline">
        <mat-label>{{ 'product.form.initialQuantityLabel' | translate }}</mat-label>
        <input matInput type="number" formControlName="initialQuantity" />
      </mat-form-field>
    }
  </div>

  <div mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">{{ 'common.cancel' | translate }}</button>
    <button mat-raised-button color="primary" type="submit">
      {{ (isEditMode ? 'product.form.submitUpdate' : 'product.form.submitCreate') | translate }}
    </button>
  </div>
</form>
